<a href="https://colab.research.google.com/github/claydearnaiz/OOP-58001/blob/main/Concepts_in_OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Class Constructor
class Car:
  pass

In [2]:
#Create a class

class myNumber:
  x = 5

num1 = myNumber()
print(num1.x)

5

In [9]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def myFunction(self):
    print("Hello, my name is", self.name)

person = Person("Clayde",19)

person.myFunction()

Hello, my name is Clayde

In [12]:
#Modify the Object Properties

person.name = "Clayde"
print(person.name)
person.myFunction()

Clayde
Hello, my name is Clayde

In [17]:
class Student:
  def __init__(self, fullname, student_number, school):
    self.fullname = fullname
    self.student_number = student_number
    self.school = school
  
  def display(self):
    print(f"Fullname: {self.fullname}\nStudent Number: {self.student_number}\nSchool: {self.school}")

student = Student("Clayde Nhicos A. Arnaiz",202210295, "Adamson University")
student.display()

Fullname: Clayde Nhicos A. Arnaiz
Student Number: 202210295
School: Adamson University