<a href="https://colab.research.google.com/github/claydearnaiz/OOP-58001/blob/main/Fundamentals_of_Computing_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Functions

In [4]:
class shapes:
  def __init__(self, length, width):
    self.length = length
    self.width = width

  def area(self):
    return self.length * self.width
  def areasqr(self):
    return self.side**2
    
rectangle = shapes(10,5)
rectangle.area()

50

In [16]:
class person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  
  def myname(self):
    print("My name is " + self.name)

  def myage(self):
    print("My age is " + self.age + " years old")

info = person("Clayde Nhicos A. Arnaiz", "19")
info.myname()
info.myage()

My name is Clayde Nhicos A. Arnaiz
My age is 19 years old

List

In [17]:
pi = 3.14159
varList = ["ABC" , 1 , "def", 2]
print(varList[0])
varList.append("ghl")
print(varList)
varList.remove(2)
print(varList)
varList.insert(3,3)
print(varList)

ABC
['ABC', 1, 'def', 2, 'ghl']
['ABC', 1, 'def', 'ghl']
['ABC', 1, 'def', 3, 'ghl']

Dictionaries

In [21]:
students = {
    1: "clayde",
    2: "nhicos",
    3: "arnaiz"
}
print(students)

{1: 'clayde', 2: 'nhicos', 3: 'arnaiz'}